span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

.ace_editor, #snippets-tabset {
    min-height: 500px;
}

#snippets-tabset button.btn-success {
    margin-left: 5px;
}

#snippets-tabset button.btn-primary {
    float: right;
}

ul#admin-nav {
    margin-bottom: 20px;
}
