<ul id="admin-nav" class="nav nav-tabs">
    <li role="presentation" class="active"><a ui-sref="admin-users">Users</a></li>
    <li role="presentation"><a ui-sref="admin-orgs">Organizations</a></li>
    <li role="presentation"><a ui-sref="admin-teams">Teams</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create a new User</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputLogin" class="col-sm-2 control-label">Github handle</label>
                <div class="col-sm-4">
                    <input ng-model="newUser.Login" type="text" class="form-control" id="inputLogin" placeholder="Github handle"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="create(newUser)" type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
            <div ng-if="createError" class="alert alert-danger col-sm-offset-2 col-sm-4" role="alert">{{ createError }}</div>
            <div ng-if="createSuccess" class="alert alert-success col-sm-offset-2 col-sm-4" role="alert">{{ createSuccess }}</div>
        </form>
    </div>
</div>

<div ng-if="loginParam" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit user "{{ loginParam }}"</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputLogin" class="col-sm-2 control-label">Login</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.Login" type="text" class="form-control" id="inputLogin" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.Name" type="text" class="form-control" id="inputName" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.Email" type="text" class="form-control" id="inputEmail" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCompany" class="col-sm-2 control-label">Company</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.Company" type="text" class="form-control" id="inputCompany" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLocation" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.Location" type="text" class="form-control" id="inputLocation" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSuperAdmin" class="col-sm-2 control-label">SuperAdmin</label>
                <div class="col-sm-4">
                    <input ng-model="editUser.SuperAdmin" type="checkbox" id="inputSuperAdmin"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="update(editUser)" type="submit" class="btn btn-default">Update</button>
                    <button ng-click="delete(editUser)" type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div ng-if="updateError" class="alert alert-danger col-sm-offset-2 col-sm-4" role="alert">{{ updateError }}</div>
            <div ng-if="updateSuccess" class="alert alert-success col-sm-offset-2 col-sm-4" role="alert">{{ updateSuccess }}</div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit users</h3>
    </div>
    <div class="panel-body">
        <ul ng-repeat="user in users">
            <li><a href ng-click="edit(user)" ui-sref="admin-users({login: '{{ user.Login }}'})" ui-sref-opts="{reload: true}">{{ user.Login }} ({{ user.Name }})</a></li>
        </ul>
    </div>
</div>
